.tile-ctr{
	cursor: pointer;
}

.tab-content-ctr{
  >div{
    position: inherit !important;
  }
}

.game-detail-ctr{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2000;
  background-color: #EEEEEE;

  .card-image-ctr{
    height: 350px;
    overflow: hidden;
    position: relative;
  }

  .game-detail-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 800px;
    background: #fff;

    @media only screen and (max-width: 600px){
      top: 0;
      left: 0;
      transform: none;
      width: 100%;
      height: 100%;

      .game-detail-header, .game-detail-loader{
        margin-top: 30px;
      }
    }

    img{
      height: auto;
      max-height: 350px;
      max-width: 100%;
    }

    .card-text{
      overflow-y: scroll;
      max-height: 180px;
      max-width: 100%;
      overflow-x: hidden;
      position: relative;
    }

    .card-actions {
      position: absolute !important;
      bottom: 0;
      left: 0;
    }
  }

  .detail-go-back-btn{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    @media only screen and (max-width: 600px){
      color: #fff !important;
      position: absolute;
      z-index: 10000;
    }
  }
}
