@import "./games.scss";

html, body{
  height: 100%;
  width: 100%;
}

body{
  font-family: 'Roboto', sans-serif;
}

#app{
  height: 100%;
  width: 100%;
}

.content-ctr{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.app-ctr{
  position: relative;
  height: 100%;
  width: 100%;
  top: 64px;
}

.nav-ctr{
  position: fixed;
  width: 100%;
  z-index: 1;
}

.tabs-content-ctr{
  >div{
    height: 100%;
    width: 100%;
  }
}

span[type="button"]{
  -webkit-appearance: none;
}
